{% from "form_helper.html" import render_field %}
{% include "header.html" %}
<body>
<div class="container">
  {% include "menu.html" %}
  {% block content %}
  <section>{{ _("An error has been detected. Please come back later.") }}</section>
  {% endblock %}
</div>
{% include "footer.html" %}