<div id="header">
  <nav>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="{{url_for('core.home')}}">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('location.index')}}">Locations</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('equipment.index')}}">Equipments</a></li>
    </ul>
  </nav>
</div>
