{% extends "base.html" %}
{% block content %}
<h1>Home</h1>

<p>Affichage des équipements <a href="{{url_for('core.test')}}">le lien</a>.</p>

<p>Affichage de la page de connexion <a href="{{url_for('core.login')}}">le lien</a>.</p>


<p>Pour les attributs, il faut, lors de la création d'un nouvel attribut, si le type Liste est choisi,
afficher une liste de choix qui se gère automatiquement dans cette page.</p>

<p>La question qui reste c'est : quid si on utilise la même liste de choix sur plusieurs équipements ?</p>
<p>Je dirais qu'on a alors la liste déjà remplie et qui reste éditable ?</p>
<p>Mais alors dans ce cas, il faut pouvoir sélectionner une liste parmi les listes existantes ou en créer une nouvelle (en lui donnant un nom ?)</p>

<p>De toute façon, l'équipement final aura une valeur d'attribut fixe et inchangeable.</p>

<p>Pour les templates d'équipement, il faut, lors de la création d'un nouveau template,
spécifier les attributs liés (et pouvoir en ajouter d'autres lors de l'édition).</p>

<p>Dès lors, on pourra ajouter automatiquement tous les équipements en fonction des
attributs et des valeurs des attributs de type Liste.</p>


{% endblock %}