{% extends "base.html" %}
{% block content %}
<h1>Test</h1>

<div class="row">
  <div id="sidebar" class="col-sm-3">
    <ul>
    {% for location in g.locations %}
      {% if not loop.first and location.level > loop.previtem.level %}
      <ul>
      {% endif %}
      <li>{{ location.name }} {{level}}</li>
      {% if not loop.last and location.level > loop.nextitem.level %}
      {% for i in range(location.level - loop.nextitem.level) %}
      </ul>
      {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class="col-sm">
    <div class="row">
      <h2>Assets</h2>
      <p>Logiquement, si on filtre par location, on ne veut donc que les équipements ou actifs dans ce lieu...</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Attributes</th>
            <th scope="col">Location</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for asset in g.assets %}
          {% if asset.quantity > 0 %}
          <tr>
            <th scope="row"></th>
            <td>{{ asset.equipment.short_name }}</td>
            <td>{% for attribute in asset.equipment.attributes %}
              {{attribute.attribute.name}} ({{attribute.value}}) -
            {% endfor %}
            </td>
            <td>{{ asset.location }}</td>
            <td>{{ asset.quantity }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <h2>Equipments</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Attributes</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for equipment in g.equipments %}
          {% if equipment.quantity > 0 %}
          <tr>
            <th scope="row"></th>
            <td>{{ equipment.short_name }}</td>
            <td>{% for attribute in equipment.attributes %}
              {{attribute.attribute.name}} ({{attribute.value}}) -
            {% endfor %}
            </td>
            <td>{{ equipment.quantity }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}