{% extends "base.html" %}
{% block content %}
<h1>Equipments</h1>

<form hx-post="{{url_for('equipment.index')}}" hx-target="#equipments" hx-swap="outerHTML">
{{ g.form.csrf_token }}
{{ g.form.code.label }}: <input type="text" name="code" value="" placeholder="Code" />
{{ g.form.short_name.label }}: <input type="text" name="short_name" value="" placeholder="Short name" />
{{ g.form.long_name.label }}: <input type="text" name="long_name" value="" placeholder="Long name" />
<button class="btn btn-primary">Add</button>
</form>

{% include "equipment/list.html" %}

{% endblock %}