<div id="equipments">
  <ul hx-confirm="Are you sure?" hx-target="closest li" hx-swap="outerHTML">
  {% for equipment in g.equipments %}
    <li>{{ equipment.short_name }} ({{equipment.code}}) <button class="btn btn-danger" hx-delete="{{url_for('equipment.edit', equipment_id=equipment.id)}}">x</button>
  {% endfor %}
  </ul>
</div>