{% extends "admin/master.html" %}
{% from "form_helper.html" import render_field %}
{% block body %}
<h2>{{g.what.title}}</h2>

<p>{{g.what.description}}</p>

<form method="post" action="{{url_for(g.what.endpoint)}}" enctype="multipart/form-data">
{{g.form.hidden_tag()}}
{{render_field(g.form.filename)}}
{% for error in g.errors %}
<p class="error">{{ error }}</p>
{% endfor %}
<br />
<input type="submit" value="{{_('Import datas')}}">
</form>

<h3>{{_("File format")}}</h3>
<ul>
    {%for format in g.what.formats%}
    <li>{{format}}</li>
    {%endfor%}
</ul>
<p>{{_("Example :")}}</p>
<pre>{%for example in g.what.examples%}
{{example}}
{%endfor%}</pre>

{% for message in g.messages %}
<p class="message">{{ message }}</p>
{% endfor %}

{% endblock %}
