{% extends "base.html" %}
{% block content %}
<h1>Locations</h1>

<form hx-post="{{url_for('location.index')}}" hx-target="#locations" hx-swap="outerHTML">
{{ g.form.csrf_token }}
{{ g.form.parent.label }}: {{ g.form.parent }}
{{ g.form.name.label }}: <input type="text" name="name" value="" placeholder="Location" />
<button class="btn btn-primary">Add</button>
</form>

{% include "location/list.html" %}

{% endblock %}