{% macro display_location(location) -%}
    <li>{{ location.name }} <button class="btn btn-danger" hx-delete="{{url_for('location.edit', location_id=location.id)}}">x</button>
    {% if location.children %}
      <ul>{% for child in location.children %}
        {{ display_location(child) }}
        {% endfor %}
      </ul>
    {% endif %}
    </li>
{%- endmacro %}

<div id="locations">
  <ul hx-confirm="Are you sure?" hx-target="closest li" hx-swap="outerHTML">
  {% for location in g.tree %}
    {{ display_location(location) }}
  {% endfor %}
  </ul>
</div>